<%- include('include/head'); %>

<section class="container">

  <h1>
      <!-- <% if(typeof title !== 'undefined') { %>
        <%- title %>
      <% } else { %>
        Default Title
      <% } %>  -->
      <!-- <% numbers.forEach( num => { %>
        <%= num %> <br>
      <% } ) %> -->

      <%- variable  %>

      <%# comentario em ejs %>
  </h1>

  <form action="/" method="POST">
    <input type="hidden" name="_csrf" value="<%- csrfToken %>" >
    <label for="cliente">
      Cliente
      <input type="text" id="cliente" name="cliente">
    </label>
    <button type="submit">Enviar</button>
  </form>
</section>

<%- include('include/footer'); %>